.facility-span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.patientNameInput {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 30px;
    margin-bottom: 30px;
    width: 325px;
}